p.floatleft,
img.floatleft{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
p.floatright,
img.floatright {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}
/*
h2 {
  color: #d70e7b;
}

h3 {
  color: #ae40a5;
}*/
