/**
 * Generic overrides & fixes.
 */
@media (max-width: 768px) {
  .collapse {
    display: block;
    visibility: visible;
  }
}
/**
 * Carousel overrides.
 */


.carousel-control {
  bottom: 0;
  top: 180px;
  left: 0;
  color: #fff;
  font-size: 20px;
  position: absolute;
  width: 63px;
  height: 63px;
  opacity: 1;
}

.carousel-control.left {
    background-image: url("../images/control-left.png");
    background-repeat: no-repeat;
}
.carousel-control.right {
    background-image: url("../images/control-right.png");
    background-repeat: no-repeat;
}

.carousel ul {
  margin: 0; padding: 0;
}
.carousel ul li {
  list-style-image: none;
  list-style-type: none;
  background: url("../images/bullet_header_01.png") 0 50% no-repeat;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2em;
  line-height: 1.7em;
  padding-left: 30px;
}

.carousel {
  height: 460px;
}
.carousel .carousel-inner {
  height: auto;
  overflow: hidden;
  height: 460px;
}
@media (min-width: 768px) { 
  .carousel, .carousel-inner {
    height: 380px;
  }
}
@media (min-width: 992px) { 
  .carousel, .carousel-inner {
    height: 380px;
  }
}
@media (min-width:1200px) {
  .carousel, .carousel-inner {
    height: 460px;
  }
}


.carousel .carousel-caption {
  text-align: left;
  top: 0;
  left: 10%;
  right: 10%;
}

.carousel h1 {
  font-family: 'Bitter', sans-serif;
  font-weight: 700;
  font-size: 2.7em;
  letter-spacing: 0.02em;
  line-height: 1.2em;
}

.carousel .carousel-caption-left {
  float: left;
  padding-top: 60px;
}
.carousel .carousel-caption-right {
  float: left;
  padding-top: 110px;
  padding-left: 25px;
}

.carousel .button-group {
  margin-left: 10px;
  margin-top: 30px;
}
.carousel .btn-primary,
.carousel .btn-lg {
  border: 2px solid #FFF;
  color: #FFF;
  font-family: 'Bitter', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  background-color: rgba(255,255,255, 0.3);
  border-radius: 0px;
  padding: 0.3em 1.5em;
  margin-left: 20px;
}

.carousel a.btn-primary:hover {
  background-color: rgba(255,255,255, 0.1);
}

/**
 * Navbar overrides.
 */
.navbar-header {
  float: none;
}

/**
 * Header h1 overrides.
 */
.page-header {
  border-bottom: none;
  margin: 0.4em 0;
}

/**
 * Breadcrumb overrides.
 */
ol.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  display: inline;
}